In [1]:
# file handing in python

In [2]:
# file = open('<file_name>','mode')
# with open('<file_name>','<mode>') as file:
# <operations>

In [4]:
# mode
# r -> read
# x -> create
# w -> write
# a -> append

In [5]:
# create file
file = open('data.txt','x')
file.close()

In [1]:
# create file
file = open('data.txt','r')
content = file.read()
print(content)
file.close()

1.hello wrold
2.hello world
3.hello world
4.hello world
5.hello world

In [3]:
a = "apple ball cat"
a.split()

['apple', 'ball', 'cat']

In [5]:
a = "apple_ball_cat"
a.split("_")

['apple', 'ball', 'cat']

In [6]:
content

'1.hello wrold\n2.hello world\n3.hello world\n4.hello world\n5.hello world'

In [8]:
content.split('\n')

['1.hello wrold',
 '2.hello world',
 '3.hello world',
 '4.hello world',
 '5.hello world']

In [11]:
lines = content.split('\n')
lines

['1.hello wrold',
 '2.hello world',
 '3.hello world',
 '4.hello world',
 '5.hello world']

In [10]:
lines = content.split('\n')
line_no = int(input("enter line no"))
lines[line_no-1]

enter line no 1

'1.hello wrold'

In [12]:
# write on file
file = open('data1.txt','w')
file.write('hello world')
file.close()

In [27]:
xyz =""
totalcost = 0
n = int(input("enter the number of products in integer form = "))
for i in range(n):
    name = input("enter the name of that product = ")
    price = int(input("enter the price of that product ="))
    quantity = int(input("enter the quantity in number ="))
    total = (price*quantity)
    totalcost = totalcost + total
    xyz = xyz + f"  {name}     {price}      {quantity}      {total}\n"
print("********************** BILLING SYSTEM ************************")
print(xyz)
print("THE TOTAL COST TO THE TRANSACTION =",totalcost)
print("************** THANK YOU VISIT AGAIN **************")
file = open('bill.txt','w')
file.write(xyz)
file.close()

enter the number of products in integer form =  2
enter the name of that product =  apple
enter the price of that product = 300
enter the quantity in number = 4
enter the name of that product =  banana
enter the price of that product = 250
enter the quantity in number = 1

********************** BILLING SYSTEM ************************
  apple     300      4      1200
  banana     250      1      250

THE TOTAL COST TO THE TRANSACTION = 1450
************** THANK YOU VISIT AGAIN **************

In [28]:
file = open('bill.txt')
content = file.read()
print(content)
file.close()

  apple     300      4      1200
  banana     250      1      250

In [29]:
data = content.split('\n')
data

['  apple     300      4      1200', '  banana     250      1      250', '']

In [30]:
data = content.split('\n')[:-1]
data

['  apple     300      4      1200', '  banana     250      1      250']

In [23]:
for i in data:
    print(i.split())

['banana', '400.0', '5.0', '2000.0']
['apple', '560.0', '7.0', '3920.0']
['old', 'durbar', '11000.0', '5.0', '55000.0']

In [31]:
list_bill = []
for i in data:
    x = i.split()
    x[1] = int(x[1])
    x[2] = int(x[2])
    x[3] = int(x[3])
    list_bill.append(x)
list_bill

[['apple', 300, 4, 1200], ['banana', 250, 1, 250]]

In [34]:
del list_bill[1]

In [35]:
import csv        # csv bhanney package use garara object banako
file = open('bill1.txt','w')
x = csv.writer(file)
x.writerows(list_bill) # maathi ko rows lai write gar bhanya
file.close()

In [36]:
# append mode in file

In [37]:
file = open('append_bill.txt','a')

In [47]:
file = open('append_bill.txt','a')
info = str()
n  =  int(input("enter the value of n="))
for i in range(n):
    name = input("enter name=")
    age = int(input("enter age = "))
    add = input("address = ")
    info = info + f"{name} {age} {add}\n"
file.write(info)
file.close()

enter the value of n= 2
enter name= ram
enter age =  34
address =  ktm
enter name= shyam
enter age =  54
address =  bkt