In [1]:
#  python collection

In [2]:
# list
# tuple
# dict
# set

In [3]:
# list 
# multiple and duplicate data
# indexing
# ordered datatype ( jasto value define garyo tei print huney) 
# mutable data

In [4]:
a = list()

In [5]:
# a = list()
# b = [ ]

In [6]:
a = [ "apple","ball","cat","doremon"]
b = [ 0,1,2,3,4,5,6,7,8,9 ]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [13]:
a = ["apple","ball","cat","doremon"]
print(a)
print(a[0])
print(a[0:5:2])

['apple', 'ball', 'cat', 'doremon']
apple
['apple', 'cat']

In [1]:
a = [ 1,2,3,4,5,6,7] # concatenation
b = ["ramu","ramu ko budi"]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 'ramu', 'ramu ko budi']

In [15]:
a = [1,2,3,4,5,6,77,5] # enlarge
print(a*2)

[1, 2, 3, 4, 5, 6, 77, 5, 1, 2, 3, 4, 5, 6, 77, 5]

In [16]:
# append() insert() extend()

In [3]:
a =list() # append (multiple value rakhney)
a.append("apple")
a.append("ball")
print(a)

['apple', 'ball']

In [1]:
l =[]
n = int(input("enter the value of n ="))
for i in range(n):
    x = int(input("enter x="))
    l.append(x)
print(l)

enter the value of n = 3
enter x= 23
enter x= 11
enter x= 45

[23, 11, 45]

In [4]:
print("minimum value = " ,min(l))
print("maximum value = " ,max(l))
print("sum = ",sum(l))
l.sort()
print(l) # print(l.sort()) mildaina

minimum value =  11
maximum value =  45
sum =  79
[11, 23, 45]

In [5]:
print("minimum value = " ,min(l))
print("maximum value = " ,max(l))
print("sum = ",sum(l))
l.reverse()
print(l)

minimum value =  11
maximum value =  45
sum =  79
[45, 23, 11]

In [28]:
l =[]
n = int(input("enter n = "))
for i in range(n):
        x = input("enter x=")
        l.append(x)
print(l)

enter n =  2
enter x= append
enter x= extend

['append', 'extend']

In [4]:
l.sort()
print(l)

['apple', 'ball']

In [1]:
a = ['gita','hari','shyam','krishna']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['gita', 'hari', 'shyam', 'krishna', 1, 2, 3, 4, 5]

In [2]:
a = ['gita','hari','shyam','krishna']
a.insert(1,'harry')
a

['gita', 'harry', 'hari', 'shyam', 'krishna']

In [5]:
# update
a = ['gita','hari','shyam','krishna','nita','apple']
a[0] = 'nira'
a

['nira', 'hari', 'shyam', 'krishna', 'nita', 'apple']

In [6]:
a = ['gita','hari','shyam','krishna','nita','apple']
a[0:2] = ['jack','jone']
print(a)

['jack', 'jone', 'shyam', 'krishna', 'nita', 'apple']

In [9]:
# insert multiple value inside certain index
a = ['gita','hari','shyam','krishna','nita','apple']
a[0:1] = ['steve','bill']
print(a)

['steve', 'bill', 'hari', 'shyam', 'krishna', 'nita', 'apple']

In [10]:
a = ['gita','hari','shyam','krishna','nita','apple']
a[0:0] = ['steve','bill']
print(a)

['steve', 'bill', 'gita', 'hari', 'shyam', 'krishna', 'nita', 'apple']

In [11]:
a = ['gita','hari','shyam','krishna','nita','apple']
a[1:1] = ['steve','bill'] # aagadi ra paxadi same index aayo bhane add farak bhayo bhane change
print(a)

['gita', 'steve', 'bill', 'hari', 'shyam', 'krishna', 'nita', 'apple']

In [13]:
# for delete del remove() pop()
a = ['gita','hari','shyam','krishna','nita','apple']
del a[0]
print(a)

['hari', 'shyam', 'krishna', 'nita', 'apple']

In [4]:
a = ['gita','hari','shyam','krishna','nita','apple']
del a[0:3:2]
print(a)

['hari', 'krishna', 'nita', 'apple']

In [18]:
a = ['gita','hari','shyam','krishna','nita','apple']
del a[3:5]
print(a)

['gita', 'hari', 'shyam', 'apple']

In [6]:
#  remove()
a = ['gita','hari','shyam','krishna','nita','apple']
a.remove("hari")
print(a)

['gita', 'shyam', 'krishna', 'nita', 'apple']

In [20]:
a = ['gita','hari','shyam','krishna','nita','apple'] # empty rakhyo bhane last ko value janxa
a.pop()
print(a)

['gita', 'hari', 'shyam', 'krishna', 'nita']

In [21]:
a = ['gita','hari','shyam','krishna','nita','apple']
a.pop(1)
print(a)

['gita', 'shyam', 'krishna', 'nita', 'apple']

In [20]:
a = ['gita','hari','shyam','krishna','nita','apple']
b = a.pop(1) # value move garxa pop() le
print(b)

hari

In [2]:
a = ['gita','hari','shyam','krishna','nita','apple']
for i in a:
    print(i)

gita
hari
shyam
krishna
nita
apple

In [26]:
a = ['gita','hari','shyam','krishna','nita','apple']
for i in a:
    print(i,end = " ")

gita hari shyam krishna nita apple

In [26]:
a = ['gita','hari','shyam','krishna','nita','apple']
l = len(a)
print(l)

6

In [30]:
a = ['gita','hari','shyam','krishna','nita','apple']
l = len(a)
for i in range(l):
    
   print(a[i]," " ,i)

gita   0
hari   1
shyam   2
krishna   3
nita   4
apple   5

In [29]:
# index form 0
# count from 1

In [30]:
i = 0
a = ['gita','hari','shyam','krishna','nita','apple']
l = len(a)
while i<l:
    print(a[i])
    i = i+1

gita
hari
shyam
krishna
nita
apple

In [37]:
# removing multiple values
a = ['gita','ram','hari','shyam','krishna','nita','apple','ram']
a.remove("ram")
print(a)

['gita', 'hari', 'shyam', 'krishna', 'nita', 'apple', 'ram']

In [4]:
a = ['gita','ram','hari','shyam','krishna','nita','apple','ram']
c = a.count("ram")
for i in range(c):
    a.remove('ram')
    print(a)

['gita', 'hari', 'shyam', 'krishna', 'nita', 'apple', 'ram']
['gita', 'hari', 'shyam', 'krishna', 'nita', 'apple']

In [48]:
a = ['gita','ram','hari','shyam','krishna','nita','apple','ram']
if "ram" in a:
    print("yesssssssssssssss , there are ",a.count('ram') , "values anmed ram..")
else:
    print("noooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo")

yesssssssssssssss , there are  2 values anmed ram..

In [31]:
a = ['gita','ram','hari','shyam','krishna','nita','apple','ram']
a.index('ram')

1

In [32]:
a = ['gita','ram','hari','shyam','krishna','nita','apple','ram']
l =len(a)
for i in range(l): 
    if a[i] == 'ram':
       print(a[i])

ram
ram

In [54]:
a = ['gita','ram','hari','shyam','krishna','nita','apple','ram']
l =len(a)
for i in range(l): 
    if a[i] == 'ram':
       print(i)

1
7

In [55]:
#  .lower() list ma hudaina

In [57]:
a = ['Gita','Ram','Hari','Shyam','Krishna','Nita','Apple','Ram']
name = input("enter name = ")
l =len(a)
for i in range(l): 
    if a[i].lower() == name.lower():
       print(i)

enter name =  RaM

1
7

In [1]:
# remove ra search use garda case insensative

In [5]:
# nested list (list inside list )

In [8]:
a = [[1,2,3,4],
     [3,4,5,6,],
     [444,444,444]]
print(a)

[[1, 2, 3, 4], [3, 4, 5, 6], [444, 444, 444]]

In [12]:
info = [['ram','34','ktm'],
        ['shyam','67','ktm'],
        ['hari','69','laitpur']]
print(info)
print(len(info))

[['ram', '34', 'ktm'], ['shyam', '67', 'ktm'], ['hari', '69', 'laitpur']]
3

In [11]:
info[0]

['ram', '34', 'ktm']

In [13]:
info[0][0]

'ram'

In [1]:
info = list()
n = int(input("enter the value of n ="))
for i in range(n):
    name = input("enter name=")
    age = int(input("enter age ="))
    add = input("enter address = ")
    x = [name,age,add]
    info.append(x)
print(info)

enter the value of n = 1
enter name= Rameshwor Kafle
enter age = 65
enter address =  Kathmandu Nepal

[['Rameshwor Kafle', 65, 'Kathmandu Nepal']]

In [3]:
info.append(['hari',34,'bhaktapur'])
print(info)

[['Rameshwor Kafle', 65, 'Kathmandu Nepal'], ['hari', 34, 'bhaktapur'], ['hari', 34, 'bhaktapur']]

In [7]:
info = [['ram','34','ktm'],
        ['shyam','67','ktm']]
info[0] = ['hee',33,'eeccvvbb']
print(info)

[['hee', 33, 'eeccvvbb'], ['shyam', '67', 'ktm']]

In [21]:
# update
info

[['ram', 22, 'ktm'], ['shyam', 34, 'ktm'], ['hari', 34, 'bhaktapur']]

In [22]:
info[0] = ['rama','88','kl']

In [23]:
print(info)

[['rama', '88', 'kl'], ['shyam', 34, 'ktm'], ['hari', 34, 'bhaktapur']]

In [24]:
info[0][2] = ['rama']
print(info)

[['rama', '88', ['rama']], ['shyam', 34, 'ktm'], ['hari', 34, 'bhaktapur']]

In [25]:
del a[0]
a

[[3, 4, 5, 6], [444, 444, 444]]

In [28]:
a = [['ram',34,'ramesh'],['see',43,'saw'],['sasa',23,'ddd']]
b = a.pop()
print(a)
print(b)

[['ram', 34, 'ramesh'], ['see', 43, 'saw']]
['sasa', 23, 'ddd']

In [39]:
a = [['ram',34,'ramesh'],['see',43,'saw'],['sasa',23,'ddd']]
name = input("enter name =")
for i in a:
    if name in i:
       print(i)

enter name = ram

['ram', 34, 'ramesh']

In [10]:
a = [['ram',34,'ramesh'],['see',43,'saw'],['sasa',23,'ddd'],['ram',34,'ktm']]
name = input("enter name =")
l = len(a)
for i in range(l):
    if name in a[i]:
       print(i)

enter name = ram

0
3

In [3]:
# row,colum,x

In [3]:
m = []
r = int(input("enter the value of r ="))
c = int(input("enter c ="))
for i in range(r):
    y = []
    for j in range(c):
     x = int(input("enter value of x="))
     y.append(x)
    m.append(y)
print(m)

enter the value of r = 5
enter c = 1
enter value of x= 2
enter value of x= 3
enter value of x= 4
enter value of x= 5
enter value of x= 6

[[2], [3], [4], [5], [6]]

In [1]:
# dictionary
#  dict(),{}

In [2]:
# #  indexing
# multiple and duplicate data
# ordered
# mutable
d = {}
d =dict()
print(type(d))

<class 'dict'>

In [9]:
# d = {<key>:<value>,<key>:<value>  (no concatination)
#      d = {'a':'Apple,'b':Ball}

In [8]:
d = {'a':'Apple','b':'Ball'}
print(d['a'])
print(d['b'])
print(d)

Apple
Ball
{'a': 'Apple', 'b': 'Ball'}

In [11]:
a = {} # can also be defined as dict()
a['a'] = "app"
a['b'] = "ball"
a['c'] = "cat"
print(a)

{'a': 'app', 'b': 'ball', 'c': 'cat'}

In [2]:
a = {}
n = int(input("enter value of n ="))
for i in range(n):
    name = input("enter name =")
    
    ph = int(input("enter phone number="))
    a[name] = ph
print(a)

enter value of n = 2
enter name = ram
enter phone number= 9878789870
enter name = shyam ko kanxi budi
enter phone number= 4453621738

{'ram': 9878789870, 'shyam ko kanxi budi': 4453621738}

a = {}
a['a'] = "app"
a['b'] = "ball"
a['c'] = "cat"
a['d'] = "dog"
a['a'] = "ramm" # key unique hunu parxa natra value update hunxa , value chai duplicate huna sakxa
print(a)

In [3]:
a = {}
a['a'] = "app"
a['b'] = "ball"
a['c'] = "cat"
a['d'] = "dog"
a['a'] = "ramm" # key unique hunu parxa natra value update hunxa , value chai duplicate huna sakxa
print(a)

{'a': 'ramm', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [18]:
a = {'ram':6789,'shyam':2345678,'hari':3456789}
for i in a:
    print(i)

ram
shyam
hari

In [19]:
a = {'ram':6789,'shyam':2345678,'hari':3456789}
for i in a.values():
    print(i)

6789
2345678
3456789

In [20]:
a = {'ram':6789,'shyam':2345678,'hari':3456789,'gopal':567898765}
for i in a.items():
    print(i)

('ram', 6789)
('shyam', 2345678)
('hari', 3456789)

In [25]:
a = {'ram':6789,'shyam':2345678,'hari':3456789,'gopal':567898765}
a['ram']=9767657967
a
a['rrr'] = 987654321
a

{'ram': 9767657967,
 'shyam': 2345678,
 'hari': 3456789,
 'gopal': 567898765,
 'rrr': 987654321}

In [28]:
a = {'ram':6789,'shyam':2345678,'hari':3456789,'gopal':567898765}
b = {'sita':8888888888888,'nabin':987654345678}
a.update(b)
print(a)

{'ram': 6789, 'shyam': 2345678, 'hari': 3456789, 'gopal': 567898765, 'sita': 8888888888888, 'nabin': 987654345678}

In [29]:
# delete in dict
# del,pop

In [30]:
a = {'ram':6789,'shyam':2345678,'hari':3456789,'gopal':567898765}
del a['ram']
print(a)

{'shyam': 2345678, 'hari': 3456789, 'gopal': 567898765}

In [34]:
a = {'ram':6789,'shyam':2345678,'hari':3456789,'gopal':567898765}
b = a.pop('shyam')
print(a)
print(b)

{'ram': 6789, 'hari': 3456789, 'gopal': 567898765}
2345678

In [35]:
#  yeuta key ma mmultiple value
# list inside dictionary use garney

In [39]:
a = {'ram':[67892345,456789],'shyam':[2345678,8765434567876543456],'hari':[3456789,98765456789],'gopal':[567898765,987654345678]}
print(a['ram'])
print(a['hari'])

[67892345, 456789]
[3456789, 98765456789]

In [40]:
a = {'name':['ram','shyam','hari'],'age':[23,45,61],'add':["ktm","bkt","ssmp"]}
print(a)

{'name': ['ram', 'shyam', 'hari'], 'age': [23, 45, 61], 'add': ['ktm', 'bkt', 'ssmp']}

In [42]:
a = dict()
n = int(input("enter the value of n = "))
for i in range(n):
  name = input("name=")
  ntc_num = int(input("ntc number = "))
  ncell_num = int(input("enter n cell number = "))
  a[name] = [ntc_num , ncell_num]
print(a)

enter the value of n =  2
name= pujya
ntc number =  9767657867
enter n cell number =  98989898888
name= ramey
ntc number =  2345678
enter n cell number =  8765432

{'pujya': [9767657867, 98989898888], 'ramey': [2345678, 8765432]}

In [48]:
a = {'name':[],'age':[],'add':[]}
n = int(input("enter the value of n = "))
for i in range(n):
  name = input("name=")
  age = int(input("age in number = "))
  add = input("enter address = ")
  a['name'].append(name)
  a['age'].append(age)
  a['add'].append(add)
print(a)

enter the value of n =  3
name= ram
age in number =  22
enter address =  ee
name= shyam
age in number =  33
enter address =  ff
name= hari
age in number =  44
enter address =  gg

{'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}

In [51]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}
print("name is = ",a['name'][0])
print("age is = ",a['age'][0])

name is =  ram
age is =  22

In [52]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}
a['age'][0] = 33
print(a)

{'name': ['ram', 'shyam', 'hari'], 'age': [33, 33, 44], 'add': ['ee', 'ff', 'gg']}

In [53]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}
del a['name'][0]
del a['age'][0]
del a['add'][0]
print(a)

{'name': ['shyam', 'hari'], 'age': [33, 44], 'add': ['ff', 'gg']}

In [54]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}
a.keys()

dict_keys(['name', 'age', 'add'])

In [8]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}
k = list(a.keys()) # list ma convert garya
index = int(input("enter index = "))
for i in a:
    del a[i][index]

print(a)

enter index =  0

{'name': ['shyam', 'hari'], 'age': [33, 44], 'add': ['ff', 'gg']}

In [60]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}
k = list(a.keys()) # list ma convert garya
print(k)
index = int(input("enter index = "))
for i in a:
    del a[i][index]

print(a)

['name', 'age', 'add']

enter index =  0

{'name': ['shyam', 'hari'], 'age': [33, 44], 'add': ['ff', 'gg']}

In [62]:
a = {'name': ['ram', 'shyam', 'hari'], 'age': [22, 33, 44], 'add': ['ee', 'ff', 'gg']}

index = int(input("enter index = "))
for i in a:
    x = input(f"enter{i}")
    a[i] [index] = x

print(a)

enter index =  0
entername rama
enterage 22
enteradd lalitpur

{'name': ['rama', 'shyam', 'hari'], 'age': ['22', 33, 44], 'add': ['lalitpur', 'ff', 'gg']}

In [1]:
# dict inside list

In [2]:
l = [{'name':'Ram','age':23,'add':"Kathmandu"},{'name':'Shyam','age':33,'add':"Bhaktapur"},{'name':'Hari','age':43,'add':"Lalitpur"}]
l

[{'name': 'Ram', 'age': 23, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 33, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 43, 'add': 'Lalitpur'}]

In [3]:
l = []
n = int(input("enter the value of n ="))
for i in range(n):
    name = input("name = ")
    age = int(input("enter age = "))
    add = input("address = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
print(l)

enter the value of n = 2
name =  ram
enter age =  1
address =  www
name =  shyam
enter age =  2
address =  eeee

[{'name': 'ram', 'age': 1, 'add': 'www'}, {'name': 'shyam', 'age': 2, 'add': 'eeee'}]

In [4]:
# WAP to update , delete , read to the program

In [5]:
# dict inside dict

In [6]:
d = {1:{"name":"ram","age":34,"add":"kathmandu"},2:{"name":"shyam","age":94,"add":"bhaktapur"},3:{"name":"gopal","age":43,"add":"lalitpur"}}

In [11]:
info = {}
n = int(input("enter the value of n ="))
for i in range(1,n+1):
    name = input("name = ")
    age = int(input("enter age = "))
    add = input("address = ")
    info[i] = {'name':name,'age':age,"add":add}
    
print(info)

enter the value of n = 2
name =  shyam
enter age =  22
address =  ww
name =  ram
enter age =  22
address =  ssa

{1: {'name': 'shyam', 'age': 22, 'add': 'ww'}, 2: {'name': 'ram', 'age': 22, 'add': 'ssa'}}

In [13]:
# WAP to add,update , delete , read to the program