In [1]:
# > <  <= => == !=

In [4]:
#if <conditon>:
#<opertions>
# elif <conditon>:
# <operations>
# else:
# <operation>

In [23]:
age = int(input('enter a = '))
if age > 10:
    print("greater than 10")
else:
    print("undergae")

enter a =  2

undergae

In [1]:
n = int(input("enter value of n = "))
if n % 2 == 0:
   print("the number is even")
else:
    print("odd ")

enter value of n =  6

the number is even

In [19]:
a = int(input(" input value of a = "))
b = int(input( " input value of b = "))
if a>b:
    print("greater =",a)
elif b>a:
    print("greater = ",b)
else:
    print("equal")

 input value of a =  33
 input value of b =  23

greater = 33

In [34]:
print("To calculate the total marks and percentage in seven different subjects")
a = int(input("enter the marks in english ="))
b = int(input("enter the marks in nepali ="))
c = int(input("enter the marks in maths ="))
d = int(input("enter the marks in science ="))
e = int(input("enter the marks in social ="))
f = int(input("enter the marks in optional I ="))
g = int(input("enter the marks in optional II ="))
tm = (a+b+c+d+e+f+g)
p = int(tm/7)
if p>=90:
  print("A+")
elif p>=80 & p<90:
  print("A")
elif p>=70 & p<80:
  print("B+")
elif p>=60 & p<70:
  print("B")
elif p>=50 & p<60:
  print("C+")
elif p>=40 & p<50:
  print("C")
else:
    print("NG")

To calculate the total marks and percentage in seven different subjects

enter the marks in english = 1
enter the marks in nepali = 1
enter the marks in maths = 1
enter the marks in science = 1
enter the marks in social = 1
enter the marks in optional I = 1
enter the marks in optional II =

ValueError: invalid literal for int() with base 10: ''

In [35]:
print("To calculate the total marks and percentage in seven different subjects")
a = int(input("enter the marks in english ="))
b = int(input("enter the marks in nepali ="))
c = int(input("enter the marks in maths ="))
d = int(input("enter the marks in science ="))
e = int(input("enter the marks in social ="))
f = int(input("enter the marks in optional I ="))
g = int(input("enter the marks in optional II ="))
tm = (a+b+c+d+e+f+g)
p = int(tm/7)
if p>=90:
  print("A+")
elif p>=80: 
  print("A")
elif p>=70:
  print("B+")
elif p>=60: 
  print("B")
elif p>=50:
  print("C+")
elif p>=40: 
  print("C")
else:
    print("NG")

To calculate the total marks and percentage in seven different subjects

enter the marks in english = 7
enter the marks in nepali = 7
enter the marks in maths = 9
enter the marks in science = 0
enter the marks in social = 0
enter the marks in optional I = 0
enter the marks in optional II = 0

NG

In [36]:
# WAP TO MAKE A BASIC CALCULATOR

In [2]:
print("To perform mathematical calculation follow given instructions")
a = int(input("enter the value of a ="))
b = int(input("enter the value of b ="))
operator = input("enter + for add,- for diff,*for product and / for divison")
if operator == "+":
    print(a+b)
elif operator == "-":
    print(a-b)
elif operator == "*":
    print(a*b)
elif operator == "/":
    print(a/b)
else:
    print("INVALID OPERATION TRY AGAIN")

To perform mathematical calculation follow given instructions

enter the value of a = 56
enter the value of b = 665
enter + for add,- for diff,*for product and / for divison *

37240

In [1]:
print("To perform mathematical calculation follow given instructions")
a = int(input("enter the value of a ="))
b = int(input("enter the value of b ="))
operator = input("enter + for add,- for diff,*for product and / for divison  =")
if operator == "+":
    z= int(a+b)
    print("the result of sum =",z)
elif operator == "-":
    z= int(a-b)
    print("the result of difference =",z)
elif operator == "*":
    z= int(a*b)
    print("the result of product = ",z)
elif operator == "/":
    z= float(a/b)
    print("the result of divison =",z)
else:
    print("INVALID OPERATION TRY AGAIN")

To perform mathematical calculation follow given instructions

enter the value of a = 101
enter the value of b = 205
enter + for add,- for diff,*for product and / for divison  = *

the result of product =  20705

In [1]:
# nested if else

In [3]:
#if<conditon>:
     #if<condition>:
        #<operation>
    # else:
        # <operation>:
#else:
   # <operation>

In [5]:
x = int(input("enter value of x="))
if x>0:
    if x % 2==0:
        print("+ve and even")
    else:
        print("+ve and odd")
else:
    if x % 2 ==0:
        print("-ve and even")
    else:
        print("-ve and odd")

enter value of x= 3

+ve and odd

In [9]:
# and , or , not (logical operators)

In [7]:
print(True or False)
print(True or True)
print(False or False)
print(False or True)

True
True
False
True

In [8]:
print(True and False)
print(True and True)
print(False and False)
print(False and True)

False
True
False
False

In [3]:
physics = int(input("enter physics marks = "))
chemistry = int(input("enter chemistry marks = ")) 
maths = int(input("enter maths marks = "))
english = int(input("enter english marks = "))
nepali = int(input("enter  nepali = "))
if physics>=32 and chemistry>=32 and maths>=32 and english>=32 and nepali>=32:
    tm = (physics+chemistry+maths+english+nepali)
    p = (tm/5)
    if p>=90:
         print("A+")
    elif p>=80: 
         print("A")
    elif p>=70:
         print("B+")
    elif p>=60: 
         print("B")
    elif p>=50:
         print("C+")
    elif p>=40: 
         print("C")
    else:
         print("INVALID")
else:
    print("NG")
    print("total marks = NA")
    print("FALIED")

enter physics marks =  99
enter chemistry marks =  99
enter maths marks =  99
enter english marks =  99
enter  nepali =  99

A+

In [18]:
print("To perform mathematical calculation follow given instructions")
a = int(input("enter the value of a ="))
b = int(input("enter the value of b ="))
operator = input("enter + for add,- for diff,*for product and / for divison  =")
if b!=0:
   if operator == "+":
    z= int(a+b)
    print("the result of sum =",z)
   elif operator == "-":
    z= int(a-b)
    print("the result of difference =",z)
   elif operator == "*":
    z= int(a*b)
    print("the result of product = ",z)
   elif operator == "/":
    z= float(a/b)
    print("the result of divison =",z)
   else:
    print("INVALID OPERATION TRY AGAIN")
else:
    print("INFINITY VALUE")

To perform mathematical calculation follow given instructions

enter the value of a = 1
enter the value of b = 0
enter + for add,- for diff,*for product and / for divison  = /

INFINITY VALUE

In [6]:
print("To perform mathematical calculation follow given instructions")
a = int(input("enter the value of a ="))
b = int(input("enter the value of b ="))
operator = input("enter + for add,- for diff,*for product and / for divison  =")
if operator == "+":
    z= int(a+b)
    print("the result of sum =",z)
elif operator == "-":
    z= int(a-b)
    print("the result of difference =",z)
elif operator == "*":
    z= int(a*b)
    print("the result of product = ",z)
elif operator == "/":
    if b!=0:
        z = float(a/b)
        print("the result of divison =",z)
    else:
        print("INFINITY VALUE ")
else:
    print("INVALID OPERATION TRY AGAIN")

To perform mathematical calculation follow given instructions

enter the value of a = 332
enter the value of b = 0
enter + for add,- for diff,*for product and / for divison  = /

INFINITY VALUE

In [1]:
#for loop (certain)
#while loop(infinite)

In [2]:
# for loop
# for i in range(5):
# print(i)

In [3]:
# range() creates no of sequence

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
#range(5) 0 to 4 (5 ota value)

In [7]:
#range(1,5) #1,2,3,4
#range(1,5,2) 1,3

In [10]:
for i in range(1,5,2):
  print(i)

1
3

In [11]:
for i in range(1,6,2):
  print(i)

1
3
5

In [12]:
for i in range(5):
    print(" hello world")

 hello world
 hello world
 hello world
 hello world
 hello world

In [15]:
for i in range(9):
    print(i," hello world")

0  hello world
1  hello world
2  hello world
3  hello world
4  hello world
5  hello world
6  hello world
7  hello world
8  hello world

In [16]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [17]:
for i in range(1,11,3):
    print(i*5)

5
20
35
50

In [19]:
x = int(input("enter the value of x ="))
for i in range(1,11):
    print(x,"X",i,"=",i*x)

enter the value of x = 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [20]:
for i in range(5):
    x = int(input(" enter the value of x = "))

 enter the value of x =  3
 enter the value of x =  3
 enter the value of x =  3
 enter the value of x =  3
 enter the value of x =  3

In [21]:
abc = 0
for i in range(5):
    x = int(input(" enter the value of x = "))
    abc = abc+x
print(abc)#outside the loop

 enter the value of x =  1000
 enter the value of x =  10000
 enter the value of x =  1000
 enter the value of x =  2000
 enter the value of x =  1000

15000

In [22]:
abc = 0
for i in range(5):
    x = int(input(" enter the value of x = "))
    abc = abc+x
    print(abc)

 enter the value of x =  1000

1000

 enter the value of x =  2000

3000

 enter the value of x =  20000

23000

 enter the value of x =  11000

34000

 enter the value of x =  23000

57000

In [23]:
abc = 0
for i in range(5):
    x = int(input(" enter the value of x = "))
    abc = abc+x
    print("the current balance is = ",abc) #inside the loop

 enter the value of x =  22

the current balance is =  22

 enter the value of x =  34533

the current balance is =  34555

 enter the value of x =  34433

the current balance is =  68988

 enter the value of x =  23342

the current balance is =  92330

 enter the value of x =  1323

the current balance is =  93653

In [25]:
abc = "" #empty string define
for i in range(5):
    x = str(input(" enter the value of x = "))
    abc = abc+x
print(abc)

 enter the value of x =  Ramey
 enter the value of x =  ramey
 enter the value of x =  ramey
 enter the value of x =  rr
 enter the value of x =  rrr

Rameyrameyrameyrrrrr

In [7]:
abc = ""
for i in range(5):
    x = str(input(" enter the value of x = "))
    abc = abc+x+" "
print(abc)

 enter the value of x =  ram
 enter the value of x =
 enter the value of x =  shyam
 enter the value of x =  s
 enter the value of x =  saa

ram  shyam s saa

In [18]:
xyz = ""
n = int(input("enter value of n ="))
for i in range(n):
    x = (input("enter value of x ="))
    xyz = xyz+x+ "\n"
print(xyz)

enter value of n = 5
enter value of x = eee
enter value of x = eeeeee
enter value of x = eeeeeeeee
enter value of x = eeeeeeeeeeeeeeeee
enter value of x = eeeeeeeeeeeeeeeeeeeeeeeeee

eee
eeeeee
eeeeeeeee
eeeeeeeeeeeeeeeee
eeeeeeeeeeeeeeeeeeeeeeeeee

In [28]:
contact = ""
n = int(input("enter n= "))
for i in range(n):
    name = input("enter name = ")
    phone = int(input(" enter phone = "))
    contact = contact + name +" "+ str(phone) +"\n"
print(contact)

enter n=  2
enter name =  www
 enter phone =  2345
enter name =  we
 enter phone =  234567

www 2345
we 234567

In [41]:
fac = 1
n = int(input("enter the value of n ="))
for i in range(1,n+1):
    fac = fac*i
print("the factorial of the input number is =",fac)

enter the value of n = 5

the factorial of the input number is = 120

In [2]:
for i in range (5):
    print(i*'o')

o
oo
ooo
oooo

In [3]:
n = 10
for i in range(10):
    print((n-99) * "",1*(i*'o'))

 o
 oo
 ooo
 oooo
 ooooo
 oooooo
 ooooooo
 oooooooo
 ooooooooo

In [18]:
n = 10
for i in range(10):
    print((n-i)*" ",2*(i*'o'))
for i in range(5):
    print(7*" ",5*"o")

          oo
         oooo
        oooooo
       oooooooo
      oooooooooo
     oooooooooooo
    oooooooooooooo
   oooooooooooooooo
  oooooooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo

In [17]:
# wap to make a billing system

In [19]:
# name = ?
# price = ?
# quantity = ?
# total = ?

In [21]:
# output
# coke 100 3 300
# 150 4 600

In [5]:
xyz =""
n = int(input("enter the number of products in integer form = "))
for i in range(n):
    name = input("enter the name of that product = ")
    price = float(input("enter the price of that product ="))
    quantity = float(input("enter the quantity in number ="))
    total = (price*quantity)
    xyz = xyz + "                " + name + "                      " + str(price) + "                   " + str(quantity) +"          "+ str(total) +"\n"
print("********************** BILLING SYSTEM ************************")
print("           Name-----                      Price-----              Quantity----       Total----------")
print(xyz)
print("************** THANK YOU VISIT AGAIN **************")

enter the number of products in integer form =  2
enter the name of that product =  Lays
enter the price of that product = 200
enter the quantity in number = 3
enter the name of that product =  Coke
enter the price of that product = 210
enter the quantity in number = 5

********************** BILLING SYSTEM ************************
           Name-----                      Price-----              Quantity----       Total----------
                Lays                      200.0                   3.0          600.0
                Coke                      210.0                   5.0          1050.0

************** THANK YOU VISIT AGAIN **************

In [6]:
xyz =""
totalcost = 0
n = int(input("enter the number of products in integer form = "))
for i in range(n):
    name = input("enter the name of that product = ")
    price = float(input("enter the price of that product ="))
    quantity = float(input("enter the quantity in number ="))
    total = (price*quantity)
    totalcost = totalcost + total
    xyz = xyz + "                " + name + "                      " + str(price) + "                   " + str(quantity) +"            "+ str(total) +"\n"
print("********************** BILLING SYSTEM ************************")
print("           Name-----                      Price-----              Quantity----       Total----------")
print(xyz)
print("THE TOTAL COST TO THE TRANSACTION =",totalcost)
print("************** THANK YOU VISIT AGAIN **************")

enter the number of products in integer form =  4
enter the name of that product =  Lays
enter the price of that product = 180
enter the quantity in number = 3
enter the name of that product =  Coke
enter the price of that product = 200
enter the quantity in number = 4
enter the name of that product =  Rice
enter the price of that product = 190
enter the quantity in number = 4
enter the name of that product =  8848
enter the price of that product = 3000
enter the quantity in number = 3

********************** BILLING SYSTEM ************************
           Name-----                      Price-----              Quantity----       Total----------
                Lays                      180.0                   3.0            540.0
                Coke                      200.0                   4.0            800.0
                Rice                      190.0                   4.0            760.0
                8848                      3000.0                   3.0            9000.0

THE TOTAL COST TO THE TRANSACTION = 11100.0
************** THANK YOU VISIT AGAIN **************

In [1]:
a = "helo world"
for i in (a):
    print(i)

h
e
l
o

w
o
r
l
d

In [2]:
a = "helo world"
for i in (a):
    print(i,"hello world")

h hello world
e hello world
l hello world
o hello world
  hello world
w hello world
o hello world
r hello world
l hello world
d hello world

In [10]:
a = "hello world. iam python"
for i in (a):
    print(i,end = " " )

h e l l o   w o r l d .   i a m   p y t h o n

In [13]:
a = "helo world. iam python"
for i in (a):
    print(i,end = " ")

h e l o   w o r l d .   i a m   p y t h o n

In [8]:
a = " hello world .. i am python"
for i in a:
    if i!= ".":
        print(i,end = "")

 hello world  i am python

In [14]:
a = " hello world .. i am pithun!!!!!!!!!!!"
for i in a:
    if i!= "." and i != "!":
        print(i,end = "")

 hello world  i am pithun

In [10]:
# control statement
# break
# continue
# pass

In [11]:
# break
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [12]:
a = " hello world .. i am python"
for i in a:
    if i!= ".":
        print(i,end = "")
    else:
        break

 hello world

In [15]:
a = " hello world .. i am python"
for i in a:
    if i== ".":
        break
    print(i,end = "")

 hello world

In [16]:
# continue ( skip garera run)

In [18]:
a = " hello world ...... i am python"
for i in a:
    if i== ".":
        continue
    print(i,end = "")

 hello world  i am python

In [19]:
for i in range(10):
    if i == 5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [20]:
for i in range(1,51):
    if i %5!= 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [24]:
for i in range(1,51):
    if i %5!= 0:
        continue
    print(i,end= " ")

5 10 15 20 25 30 35 40 45 50

In [25]:
a = "hello world . i am python...."
for i in a:
    if i == ".":
        continue
    print(i,end = " ")

h e l l o   w o r l d     i   a m   p y t h o n

In [27]:
# pass 
for i in range (5):
    pass

In [29]:
a = 10
if a%2 ==0:
    pass

In [30]:
# while loop

In [31]:
# while <condition>:
#  <operation>

In [1]:
a = 0
while a < 5:
   print("hello world")
   a = a + 1

hello world
hello world
hello world
hello world
hello world

In [4]:
i = 0
while i <=5:
  print(i)
  i = i + 1

0
1
2
3
4
5

In [5]:
a = 0
while a <5:
    print("he")
    a = a+1

he
he
he
he
he

In [6]:
a = 0
while a <5:
    print(a,"he")
    a = a+1

0 he
1 he
2 he
3 he
4 he

In [7]:
a = 1
while a <5:
    print("he")
    a = a+1

he
he
he
he

In [8]:
# x = int(input("enter the value of x ="))
# for i in range(1,11):
    # print(x,"X",i,"=",i*x)

In [3]:
i = 1
x = int(input("enter x = "))
while i<=10:
    print(x,"X",i,"=",i*x)
    i = i+1

enter x =  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [4]:
# fac = 1
# n = int(input("enter the value of n ="))
# for i in range(1,n+1):
#     fac = fac*i
# print("the factorial of the input number is =",fac)

In [11]:
i = 1
fac = 1
n = int(input("enter n = "))
while i<=n:
    fac = fac * i
    i = i+1
print(fac)

enter n =  5

120

In [13]:
#  while loop
# inisialization
# condition
# increment

In [14]:
i = 0
xyz =""
totalcost = 0
n = int(input("enter the number of products in integer form = "))
while i <=n:
    name = input("enter the name of that product = ")
    price = float(input("enter the price of that product ="))
    quantity = float(input("enter the quantity in number ="))
    total = (price*quantity)
    totalcost = totalcost + total
    xyz = xyz + "                " + name + "                      " + str(price) + "                   " + str(quantity) +"            "+ str(total) +"\n"
    i = i+1
print("********************** BILLING SYSTEM ************************")
print("           Name-----                      Price-----              Quantity----       Total----------")
print(xyz)
print("THE TOTAL COST TO THE TRANSACTION =",totalcost)
print("************** THANK YOU VISIT AGAIN **************")

enter the number of products in integer form =  2
enter the name of that product =  lays
enter the price of that product = 200
enter the quantity in number = 3
enter the name of that product =  coke
enter the price of that product = 210
enter the quantity in number = 5
enter the name of that product =  momo
enter the price of that product = 170
enter the quantity in number = 2

********************** BILLING SYSTEM ************************
           Name-----                      Price-----              Quantity----       Total----------
                lays                      200.0                   3.0            600.0
                coke                      210.0                   5.0            1050.0
                momo                      170.0                   2.0            340.0

THE TOTAL COST TO THE TRANSACTION = 1990.0
************** THANK YOU VISIT AGAIN **************

In [15]:
#  break in while

In [16]:
# break
i = 0
while i<=10:
    if i ==5:
        break
    print(i)
    i = i+1

0
1
2
3
4

In [2]:
i = 0
while i<=10:
    if i ==5:
        i = i+1
        continue
    print(i)
    i = i+1

0
1
2
3
4
6
7
8
9
10

In [2]:
# wap to find if the given number is prime or composite

In [19]:
num = int(input("enter num = "))
if num ==1:
    print("The given number is neither prime nor composite")
if num>1:
   for i in range(2,num):
       if num % i==0:
          print("Composite")
          break
   else:
     print("Prime")

enter num =  34

Composite

In [23]:
i = 2
num = int(input("enter num ="))
if num ==1:
    print("The given number 1 is neither prime nor composite")
if num>1:
 while i<num:
     if num%i==0:
         print("The given number ",num,"is composite number")
         i = i+1
         break
 else:
     print("The given number",num,"is prime number")

enter num = 12

The given number  12 is composite number

In [1]:
i = 2
num = int(input("Enter num = "))

if num == 1:
    print("The given number 1 is neither prime nor composite")

if num > 1:
    while i < num:
        if num % i == 0:
            print("The given number", num, "is a composite number")
            break
        i = i + 1
    else:
        print("The given number", num, "is a prime number")

Enter num =  32

The given number 32 is a composite number

In [5]:
num = int(input("नम्बर टाइप गर्नुहोस् = "))

if num == 1 or num == 0:
    print("दिइएको नम्बर १ , 0 न त यो न सम्पर्किय न विषम संख्या हो।")
else:
    i = 2
    while i < num:
        if num % i == 0:
            print("दिइएको नम्बर", num, "एक सम्पोर्किय संख्या (Composite Number) हो।")
            break
        i = i + 1
    else:
        print("दिइएको नम्बर", num, "एक विषम संख्या (Prime Number) हो।")

नम्बर टाइप गर्नुहोस् =  34

दिइएको नम्बर 34 एक सम्पोर्किय संख्या (Composite Number) हो।