In [10]:
a = 555555
b = 2
print(a//b)

277777

In [11]:
a = 36

In [15]:
a = 35 
b = a%3
c = b**3
print(c)

8

In [16]:
 a = input()
print(a)

 2332233 heee

2332233 heee

In [18]:
a = input("enter the value =")
print(a)

enter the value = 66

66

In [22]:
a = int(input("enter value ="))
b = int(input("enter value="))
c=a+b
print(c)

enter value = 1
enter value= 1

2

In [23]:
p = int(input("enter principal="))
t = int(input("enter rate of intrest ="))
r = int(input(" enter time = "))
si = (p*t*r)/100
print(si)

enter principal= 100000
enter rate of intrest = 10
 enter time =  3

30000.0

In [25]:
l = int(input("enter length ="))
b = int(input("enter breadth ="))
h = int(input("enter the height of the room="))
a = 2*h*(l+b)
print(a)

enter length = 20
enter breadth = 30
enter the height of the room= 53

5300

In [26]:
l = float(input("enter length ="))
b = float(input("enter breadth ="))
h = float(input("enter the height of the room="))
a = 2*h*(l+b)
print(a)

enter length = 30500.55555
enter breadth = 23224.42422
enter the height of the room= 12311.34545

1322853570.4854634

In [29]:
print("To calculate the area of four walls,follow the given instruction ")
l = int(input("enter length ="))
b = int(input("enter breadth ="))
h = int(input("enter the height of the room="))
a = 2*h*(l+b)
print(a)

To calculate the area of four walls,follow the given instruction

enter length = 2323
enter breadth = 2323
enter the height of the room= 3232

30031744

In [30]:
Wap to take subject marks from user and find total and percentage

SyntaxError: invalid syntax (102996293.py, line 1)

In [2]:
print("To calculate the total marks and percentage in seven different subjects")
a = int(input("enter the marks in english ="))
b = int(input("enter the marks in nepali ="))
c = int(input("enter the marks in maths ="))
d = int(input("enter the marks in science ="))
e = int(input("enter the marks in social ="))
f = int(input("enter the marks in optional I ="))
g = int(input("enter the marks in optional II ="))
tm = (a+b+c+d+e+f+g)
p = tm/7
print("Your total marks is =",tm)
print("The total percentage is = ",p)

To calculate the total marks and percentage in seven different subjects

enter the marks in english = 93
enter the marks in nepali = 83
enter the marks in maths = 99
enter the marks in science = 100
enter the marks in social = 82
enter the marks in optional I = 100
enter the marks in optional II = 88

Your total marks is = 645
The total percentage is =  92.14285714285714

In [1]:
a = "hello world "
b = "hee"
c = a+b
print(c)

hello world hee

In [3]:
a = " heyyyyy\n"
b = " html "
c = a+b
print(c)

 heyyyyy
 html

In [4]:
a = " tree "
b = a*2
print(b)

 tree  tree

In [13]:
name = input(" name     ")
age = int(input(" age     "))
add = input("  address    ")
info = " hello " + name + add + str(age)
print(info)

 name      h
 age      4
  address     w

 hello hw4

In [14]:
n = input("name")
age = int(input("age"))
ad = input(" address")
info = "hi world \n" + str(age) + add
print(info)

name w
age 33
 address qwqwq

hi world
33w

In [15]:
a = True
b = False
c = a+b
print(c)

1

In [16]:
a = True
b = True
c = a+b
print(c)

2

In [17]:
a = True
b = False
c = bool(a+b)
print(c)

True

In [19]:
a = False
b = False
c = bool(a+b)
print(c)

False

In [22]:
a = True
b = False
c = bool(a*b)
print(c)

False