In [2]:
# tuple
# indexing
# multiple and duplicate values 
# ordered
# imutable

In [4]:
t = tuple()
a = (1,2,3,4,5,6,7)
b = ("appp","ball","cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [5]:
t = ("apple")
print(type(t))

<class 'str'>

In [6]:
t = ("apple",)
print(type(t))

<class 'tuple'>

In [7]:
t = ("apple",1,2)
print(type(t))

<class 'tuple'>

In [8]:
b = ("appp","ball","cat")
print(b[0])
print(b[0:2])
print(b[0:3:2])

appp
('appp', 'ball')
('appp', 'cat')

In [9]:
b = ("appp","ball","cat")
print(b)

('appp', 'ball', 'cat')

In [11]:
# no append
# no insert
# no extend , update , no delete , no sort

In [12]:
a = (1,2,3,4,5,5)
b = (22,33,4453,2,5,4)
c = a+b
print(c)

(1, 2, 3, 4, 5, 5, 22, 33, 4453, 2, 5, 4)

In [13]:
a = (1,2,3,4,5,5)
print(a*2)

(1, 2, 3, 4, 5, 5, 1, 2, 3, 4, 5, 5)

In [21]:
t = ()
n = int(input(" n ="))
for i in range(n):
    x = int(input("x = "))
    t = t + (x,)
print(t)

 n = 3
x =  12
x =  32
x =  12

(12, 32, 12)

In [18]:
 a = (1,2,3,4,5,5,43)
print(min(a))
print(max(a))
print(sum(a))
sorted(a) # list ma aauxa value

1
43
63

[1, 2, 3, 4, 5, 5, 43]

In [19]:
# tuple to list
b = ("appp","ball","cat")
c = list(b)
print(c)
del c[0]
b = tuple(c)
print(b)

['appp', 'ball', 'cat']
('ball', 'cat')

In [22]:
#  tuple inside tuple

In [26]:
info = ()
n = int(input("enter the value of n ="))
for i in range(1,n+1):
    name = input("name = ")
    age = int(input("enter age = "))
    add = input("address = ")
    info = info +((name,age,add),)
    
print(info)

enter the value of n = 3
name =  Shyam Thapa
enter age =  2
address =  Kathmandu
name =  Hari gopal shrestha
enter age =  23
address =  bkt
name =  pujya ghimire
enter age =  17
address =  bkt

(('Shyam Thapa', 2, 'Kathmandu'), ('Hari gopal shrestha', 23, 'bkt'), ('pujya ghimire', 17, 'bkt'))

In [27]:
# set

In [28]:
# no indexing
# multiple but no duplicate data
# unordered
# mutable

In [29]:
# s = set()
# s = {1,2,3,4,5}

In [31]:
 s = {1,2,3,4,5} 
print(type(s))

<class 'set'>

In [34]:
a = {"apple","ball","cat","dog","apple"}
print(a)

{'cat', 'ball', 'dog', 'apple'}

In [35]:
#  set maintains the uniqueness of data

In [36]:
s = {1,2,3,3,2,6,3,9,1,0}
s

{0, 1, 2, 3, 6, 9}

In [37]:
# sort garya jasto hunx

In [38]:
s = {1,2,3,3,2,6,3,9,1,0,"apple","ball"}
print(s)

{0, 1, 2, 3, 6, 9, 'apple', 'ball'}

In [41]:
s = set()
s.add("ewe")
s.add(2)
s.add("hgghgf")
print(s)

{'ewe', 2, 'hgghgf'}

In [43]:
s = {1,2,3,3,2,6,3,9,1,0,"apple","ball"}
s.remove("apple")
s

{0, 1, 2, 3, 6, 9, 'ball'}

In [44]:
 # no count function

In [46]:
s = {1,2,3,3,2,6,3,9,1,0,"apple","ball"}
for i in s:
    print(i)

0
1
2
3
6
9
apple
ball

In [60]:
#  set for maths 
U = {'harry', 'steave', 'bill', 'ram', 'kane', 'hari', 'kamal', 'jack', 'jone', 'sita', 'satya','xyz','abc'}
apple = {"ram","hari","steave","jack","jone","kane"}
ms = {"ram","bill","satya","kamal","sita","harry","kane"}
print("both in apple and ms = ",apple.intersection(ms))
print("complement = ",U - apple.union(ms))

both in apple and ms =  {'ram', 'kane'}
complement =  {'xyz', 'abc'}

In [58]:
print("combined value = ",apple.union(ms))

combined value =  {'harry', 'steave', 'bill', 'ram', 'kane', 'hari', 'kamal', 'jack', 'jone', 'sita', 'satya'}

In [53]:
print("only apple value = ",apple - ms)

only apple value =  {'jack', 'jone', 'hari', 'steave'}

In [54]:
print("only ms value = ",ms - apple)

only ms value =  {'harry', 'kamal', 'bill', 'sita', 'satya'}